:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent:#2196F3;
    --white:#FFFFFF;
    --secondary-bgr:#F5F4FA;
    --primary-bgr:#F5F5F5;

}



body{
 color:var(--primary-text-color); 
 background-color:var(--primary-bgr); 
}
.logo-web{
    color:#2196F3;
}
.logo-studio{
    color:#000000;
}

.list{
    list-style: none;
}
/* site-nav */
.site-nav .link{
    color:var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent);
}
/* auth-nav */
.auth-nav .link{
    color:var(--primary-text-color) ;
}
.auth-nav .link:hover,
.auth-nav .link:focus{
    color:var(--accent) ;
}
/* hero */
.hero{}
.hero-title{}

/* button */
.button{
    color:var(--title-text-color);
    background-color:var(--primary-bgr);
}
.button.primary{
    color:var(--white);
    background-color:var(--accent) ;
}
.button.secondary{
    color:var(--title-text-color);
    background-color:var(--secondary-bgr);
}

/*button-main  */
.button-main{
    color:var(--white) ;
    background:var(--accent);
}
/* section-title */
.section-title{
    color:var(--title-text-color) ;
}

/* feature-list */
.feature-list .title{
    color:var(--title-text-color) ;
}
/* teem */
.teem .title{
    color:var(--title-text-color);
    background-color:var(--secondary-bgr);
}
/* project */
.project .title{
    color:var(--title-text-color);
}
